# Ignore bundler config.
/.bundle
Gemfile.lock

# Ignore node modules.
/node_modules

# Ignore all logfiles and tempfiles.
.byebug_history
/log/*
/public/assets
/spec/examples.txt
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore local and generated documentation.
/coverage/*
/doc/*
.yardoc
.yardopts
