<section class="banner hero is-small">
  <div class="hero-body">
    <div class="container">
      <div>
        <% if title.present? %>
        <p class="title">
          <%= title %>

          <% if subtitle.present? %>
          <span class="subtitle is-block is-inline-tablet mt-3"><%= subtitle %></span>
          <% end %>
        </p>
        <% end %>

        <% if navigation %>
        <%=
          render(
            Librum::Core::View::Layouts::Page::Navigation.new(
              config: navigation
            )
          )
        %>
        <% end %>
      </div>

      <hr class="is-fancy-hr">
    </div>
  </div>
</section>
