<footer class="footer has-text-centered">
  <div class="container">
    <%= render_breadcrumbs %>

    <% if footer_text.present? %>
    <hr class="is-fancy-hr">

    <p><%= footer_text %></p>
    <% end %>
  </div>
</footer>
