<%=
  render(
    Librum::Core::View::Components::Heading.new(
      resource.name.titleize,
      buttons: buttons
    )
  )
%>

<%= render_data_table %>

<% if resource.parent %>
<p>
  <%=
    render(
      Librum::Core::View::Components::Link.new(
        routes.parent_path,
        label: "Back to #{resource.parent.singular_name.titleize}",
        icon:  'left-long'
      )
    )
  %>
</p>
<% end %>
