<h1 class="title"><%= record_name %></h1>

<%= render_data_block %>

<% if resource.plural? %>
<p>
  <%=
    render(
      Librum::Core::View::Components::Link.new(
        resource.routes.index_path,
        label: "Back to #{resource.resource_name.titleize}",
        icon:  'left-long'
      )
    )
  %>
</p>
<% end %>
