<%=
  render(
    Librum::Core::View::Components::Heading.new(
      record_name,
      buttons: buttons
    )
  )
%>

<%= render_data_block %>

<% if resource.plural? %>
<p>
  <%=
    render(
      Librum::Core::View::Components::Link.new(
        routes.index_path,
        label: "Back to #{resource.resource_name.titleize}",
        icon:  'left-long'
      )
    )
  %>
</p>
<% end %>
