<div <%= tag.attributes(**attributes) %>>
  <% if dismissable? %>
  <button data-action="click->dismissable#close" class="delete is-medium"></button>
  <% end %>

  <% if render_icon? %>
  <%=
    render(
      Librum::Core::View::Components::IconText.new(
        contents: message,
        icon:     icon
      )
    )
  %>
  <% else %>
  <%= message %>
  <% end %>
</div>
