<div class="block content">
  <% fields.each do |field| %>
  <div class="columns mb-0">
    <div class="column is-2 has-text-weight-semibold mb-1">
      <%= field.label %>
    </div>

    <div class="column">
      <%= render_item(field: field) %>
    </div>
  </div>
  <% end %>
</div>
