<% if render_icon? %>
<span class="icon-text">
  <%= render(Librum::Core::View::Components::Icon.new(icon: icon)) %>
  <span><%= render_contents %></span>
</span>
<% else %>
<%= render_contents %>
<% end %>
