<% if render_icon? && render_label? %>
<span class="icon-text">
  <%= render(Librum::Core::View::Components::Icon.new(icon: icon)) %>
  <span><%= label %></span>
</span>
<% elsif render_icon? %>
<%= render(Librum::Core::View::Components::Icon.new(icon: icon)) %>
<% else %>
<%= label %>
<% end %>
