<a <%= tag.attributes(**attributes) %>>
  <% if render_icon? %>
  <%=
    render(
      Librum::Core::View::Components::IconText.new(contents: label, icon: icon)
    )
  %>
  <% else %>
  <%= label %>
  <% end %>
</a>
