<div class="box">
  <p class="has-text-centered">
    <%=
      render(
        Librum::Core::View::Components::Icon.new(
          color: 'danger',
          icon:  icon,
          size:  'large'
        )
      )
    %>
  </p>

  <h2 class="title has-text-centered has-text-danger"><%= label %></h2>

  <% if message.present? %>
  <p class="has-text-centered"><%= message %></p>
  <% end %>
</div>
